DECLARE @ReportDate date='2024-02-29',
@CSDate date='1900-01-01',
@Store int=1
IF @ReportDate='1900-01-01'
	BEGIN
		SELECT @ReportDate=max(SnapshotDate),@CSDate=max(SnapshotDate) 
		from nystart.LoanPortfolioMonthly where IsMonthEnd=1
	END
		IF OBJECT_ID('tempdb..#bs') is not null
			DROP TABLE #bs
		select AccountNUmber,
			   SnapshotDate,
			   case when MOB<=2 then AppliedApplicationScore else AdjustedBehaviourScore end as PD,
			   cast(SUBSTRING(Stageing,6,1) as int) as Stage
		into #bs
		from nystart.ECLInput


		--populate table with all the booked applications and it's acquisition cost
		IF OBJECT_ID('tempdb..#base1') is not null
			DROP TABLE #base1;
		with apps as ( -- total disbursed amounts per broker and month
		select Year(DisbursedDate)*100+Month(DisbursedDate) as YearMonth,BrokerName,sum(Amount) as Total
		from nystart.Applications A
		where DisbursedDate is not null
		and IsMainApplicant=1 and SalesChannel='BROKER'
		group by Year(DisbursedDate)*100+Month(DisbursedDate),BrokerName
		),
		commissionPct as ( -- add commission percent and total, basing on nystart.BrokerCommissionSetup
		select a.*,(case when a.BrokerName='Advisa' then case when YearMonth<202111 then case when Total<10000000 then 0.045*Total else 450000+(Total-10000000)*0.0465 end else 0.05*Total end else (total-PrevToAmount)*b.commissionPct+FixAmount end)*1.25 as Commission,
		(case when a.BrokerName='Advisa' then case when YearMonth<202111 then case when Total<10000000 then 0.045*Total else 450000+(Total-10000000)*0.0465 end else 0.05*Total end else (total-PrevToAmount)*b.commissionPct+FixAmount end)/Total as CommissionPct
		from apps a
		left join nystart.BrokerCommissionSetup b
		on a.BrokerName=b.BrokerName and YearMonth between year(validFrom)*100+Month(validFrom) and year(validTo)*100+Month(ValidTo) and Total between AmountFrom and AmountTo),
		onl as ( -- online disbursals by year and month
		select Year(DisbursedDate)*100+Month(DisbursedDate) as YearMonth,count(*) as Acc,SUM(Amount) as Amt
		from nystart.Applications
		where DisbursedDate is not null
		and SalesChannel='WEB' and IsMainAPplicant=1
		group by Year(DisbursedDate)*100+Month(DisbursedDate)
		),
		onl2 as ( -- add monthly online acquisition cost from nystart.OnlineCost
		select onl.*,oc.Cost,oc.Cost/onl.Amt as OnlineCommission
		from onl join nystart.OnlineCost oc on oc.YearMonth=onl.YearMonth
		),
		tenor as (-- get the initial tenor on account (sometimes initial remaining tenure in table is original -1 (like 179, 143 etc.) that why it the max(remanining tenor) is odd then add 1)
		select AccountNumber,DisbursedDate,case when max(RemainingTenor)%2=1 then MAX(RemainingTenor)+1 else MAX(RemainingTenor) end as Tenor
		from nystart.LoanPortfolio
		group by AccountNumber,DisbursedDate
		),
		base as ( -- combine the data together
		select A.AccountNumber+'-'+cast(Row_number() over (partition by A.AccountNumber order by a.DisbursedDate) as varchar(2)) as UniqueKey,A.AccountNumber,A.DisbursedDate,
			   ISNULL(lead(A.DisbursedDate) over (partition by A.AccountNumber order by A.DisbursedDate),'2199-12-31') as EndDate,
			   Amount,StartupFee,isnull(tenor.Tenor,TenorMonths) as TenorMonths,SalesChannel,
			   case when SalesChannel='BROKER' then CommissionPct*Amount 
					when SalesChannel='WEB' then ISNULL(onl2.OnlineCommission*Amount*1.25, 0.055*Amount*1.25) 
					else 0 
			   end as AcquisitionCost,
			   A.BrokerName
		from nystart.Applications A
		left join commissionPct p
		on A.BrokerName=p.BrokerName and year(A.DisbursedDate)*100+Month(A.DisbursedDate)=p.YearMonth
		left join onl2 on onl2.YearMonth=year(A.DisbursedDate)*100+Month(A.DisbursedDate) and A.SalesChannel='WEB'
		left join tenor on tenor.AccountNumber=A.AccountNumber and tenor.DisbursedDate=A.DisbursedDate
		where A.DisbursedDate is not null and IsMainApplicant=1)

		-- populate final table with all the disbursed app, acuisition cost and some other details.
		select base.*,LP.InterestRate,
			   LP.CurrentAmount as ReportingBalance,
			   ECL.Stage as RiskStage,
			   '' as RiskClass,
			   IsOpen,
			   LP.RemainingTenor,
			   --isnull(LP.InvoicedInterest,0)-ISNULL(PaidInterest,0) as InterestInvoicedNotPaid,ISNULL(InvoicedFee,0)-ISNULL(PaidFee,0) as FeeInvoicedNotPaid,
			   ISNULL(inp.Amount,0) as InvoicedNotPaid	
		into #base1
		from nystart.LoanPortfolio LP
		join base
		on LP.AccountNUmber=base.AccountNumber
		and SnapshotDate=@ReportDate --and IsOpen=1
		left join nystart.InvoicedNotPaid inp on inp.AccountNumber=base.AccountNumber and inp.SnapshotDate=@ReportDate
		left join #bs ECL on ECL.AccountNumber=LP.AccountNumber and ECL.SnapshotDate=LP.SnapshotDate;
		

		-- get accounts which do not have corresponding application in the system
		IF OBJECT_ID('tempdb..#acc') is not null
			DROP TABLE #acc
		IF OBJECT_ID('tempdb..#acc1') is not null
			DROP TABLE #acc1
		select AccountNumber,DisbursedDate into #acc
		from nystart.LoanPortfolio where SnapshotDate=@ReportDate and AccountNumber not in (select AccountNumber from #base1) and DisbursedDate is not null;
		with startdate as 
		(select LP.AccountNUmber,MIN(SnapshotDate) as StartDate
		 from nystart.LoanPortfolio LP
		 join #acc a on a.AccountNumber=LP.AccountNumber
		 group by LP.AccountNUmber)
		select LP.AccountNumber,LP.DisbursedDate,LP.InterestRate,LP.OriginalAmount,LP.RemainingTenor
		into #acc1
		from nystart.LoanPortfolio LP
		join startdate on startdate.AccountNumber=LP.AccountNumber and LP.SnapshotDate=startdate.StartDate

		-- add these accounts to the main table table
		insert into #base1 
		select a.AccountNumber+'-1',
			   a.AccountNumber,
			   a.DisbursedDate,'2199-12-31',
			   a.OriginalAmount,
			   0,
			   a.RemainingTenor,
			   'Missing',
			   0,
			   'Missing',
			   a.InterestRate,
			   LP.CurrentAmount,
			   CS.Stage,
			   '' as RiskClass,
			   LP.IsOpen,
			   LP.RemainingTenor,
			  -- isnull(LP.InvoicedInterest,0)-ISNULL(LP.PaidInterest,0) as InterestInvoicedNotPaid,
			  -- ISNULL(LP.InvoicedFee,0)-ISNULL(LP.PaidFee,0) as FeeInvoicedNotPaid,
			   ISNULL(inp.Amount,0) as InvoicedNotPaid	
		from #acc1 a
		join nystart.LoanPortfolio LP on a.AccountNumber=LP.AccountNumber and LP.SnapshotDate=@ReportDate
		left join #bs CS on CS.AccountNumber=LP.AccountNumber and CS.SnapshotDate=@CSDate
		left join nystart.InvoicedNotPaid inp on inp.AccountNumber=a.AccountNumber and inp.SnapshotDate=@ReportDate

		
		-- limit the table to accounts which were open at reporting date
		IF OBJECT_ID('tempdb..#base') is not null
			DROP TABLE #base;
		select UniqueKey,
			   AccountNumber,
			   DisbursedDate,
			   EndDate,
			   Amount,
			   StartupFee,
			   TenorMonths,
			   AcquisitionCost,
			   InterestRate,
			   ReportingBalance,
			   RiskStage,
			   RiskClass,
			   InvoicedNotPaid
		into #base
		from #base1 
		where IsOpen=1 and EndDate>@ReportDate
	

--#result table is a main table with model data
IF OBJECT_ID('tempdb..#result') is not null
	DROP TABLE #result
--populate the table with data as of reporting date
-- most of model columns are empty at this stage
select distinct LP.AccountNumber,
	   CS.Stage as RiskStage, -- risk stage and risk class can be taken as of date different than the reporting date
	   '' as RiskClass,
	   0 as Ord,
	   LP.SnapshotDate as Date,
	   LP.CurrentAmount as Base,
	   CAST(null as decimal(12,2)) as ContractualInterest,
	   cast(null as decimal(12,2)) as ContractualAmort,
	   cast(null as decimal(12,2)) as InterestIncomeByEIR,
	   cast(null as decimal(12,2)) as CashFlowsNPV,
	   cast(null as decimal(12,2)) as AmortizedCostBOP,
	   cast(null as decimal(12,2)) as AmortizedCostEOP,
	   cast(null as float) as EIR,
	   cast(null as float) as EIRmth,
	   cast(null as decimal(12,2)) as Annuity,
	   b.StartupFee,
	   b.AcquisitionCost,
	   b.StartupFee as StartupFeeLeft,
	   b.AcquisitionCost as AcquisitionCostLeft,
	   cast(0 as decimal(12,2)) as StartupFeeAmort,
	   cast(0 as decimal(12,2)) as AcquisitionCostAmort,
	   b.TenorMonths as OriginalTenor,
	   LP.RemainingTenor,
	   LP.DisbursedDate,
	   LP.InterestRate,
	   case when CS.Stage=3 then 180 else 36 end as ModelMonths,
	   case when LP.DelinquencyStatusCode>=4 and LPprev.DelinquencyStatusCode<4 and F.FundingCompany='Erik Penser Bank AB' then 1 else 0 end as AFS,
	   isnull(InvoicedNotPaid,0) as InvoicedNotPaid,
	   F.FundingCompany,
	   case when CS.Stage in (1,2) 
			 then power((1.0-CS.PD ),(1.0/case when cs.Stage=1 then 12 else 36 end))
			when CS.Stage=3 and LP.DelinquencyStatusCode>=4 and LPprev.DelinquencyStatusCode<4 then 0
	   End as SurvivalRate,
	   case when SC.AccountNumber is not null then SC.LGD 
			when CS.Stage=3 and not (LP.DelinquencyStatusCode>=4 and LPprev.DelinquencyStatusCode<4 and F.FundingCompany='Erik Penser Bank AB') then 0.3 --RLGD.LGD_disc
			else 
				 case when @ReportDate<'2023-06-30' then 
							 case when LP.CurrentAmount<=200000 then 0.365
								  else  0.441
							 end
					  when @ReportDate>='2023-06-30' then 
							 case when LP.CurrentAmount<=200000 then 0.3902 -- old value 0.365, changed on 2023-07-06
								  else 0.4731 -- old value 0.441, changed on 2023-07-06
							 end
					  when @ReportDate>='2024-02-29' then 0.38
				 end
	   end as LGD,
	   CAST(null as decimal(12,2)) as EAD,
	   CAST(null as decimal(6,4)) as MPD,
	   CAST(null as decimal(6,4)) as LPD,
	   CAST(null as decimal(12,2)) as ECL,
	   CAST(null as decimal(12,2)) as ECLNPV,
	   CAST(null as decimal(12,2)) as CashFlowsRC,
	   CAST(null as decimal(12,2)) as CashFlowsNPVRC,
	   datediff(month,LP.DisbursedDate,@ReportDate) as MOB,
	   isnull(LP.DefaultDate,DD2.DD) as DefaultDate,
	   datediff(month,isnull(LP.DefaultDate,DD2.DD),@ReportDate) as MonthsSinceDefault,
	   isnull(SC.EventTypeDesc,'') as SpecialCase
			


into #result
from nystart.LoanPortfolio LP
	 left join #bs CS
	 on CS.AccountNumber=LP.AccountNumber and CS.SnapshotDate=LP.SnapshotDate
	 left join #base b on b.AccountNumber=LP.AccountNumber
	 left join nystart.LoanPortfolio LPprev
	 on LP.AccountNumber=LPprev.AccountNumber and LPprev.SnapshotDate=DATEADD(day,-day(@ReportDate),@ReportDate)
	 left join nystart.Funding F on LP.AccountNumber=F.AccountNumber and @ReportDate between F.ValidFrom and F.ValidTo
	 left join (select AccountNumber,min(SnapshotDate) as DD from nystart.LoanPortfolio where Ever90>0 group by AccountNumber) DD2 on DD2.AccountNumber=LP.AccountNumber
	 left join nystart.SpecialCases SC on SC.AccountNumber=LP.AccountNumber and LP.SnapshotDate=SC.ReportingDate
	 --left join nystart.RecoveryLGD RLGD on case when datediff(month,isnull(LP.DefaultDate,DD2.DD),@ReportDate)=0 then 1 else datediff(month,isnull(LP.DefaultDate,DD2.DD),@ReportDate) end=RLGD.MOB 
where LP.IsOpen=1 and LP.SnapshotDate=@ReportDate

--replace remaining tenor=0 with 1
update #result set RemainingTenor=1 where RemainingTenor<=0;

--in case that number of months to model is longer than remaining tenor, model will be caluclated only till remaining tenor
update #result set ModelMonths=RemainingTenor where ModelMonths>RemainingTenor;

--populate amortized and left startup fee and acquisition cost 
update #result set StartupFeeAmort=dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,StartupFee,MOB),
				   StartupFeeLeft=StartupFee-dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,StartupFee,MOB),
				   AcquisitionCostAmort=dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,AcquisitionCost,MOB),
				   AcquisitionCostLeft=AcquisitionCost-dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,AcquisitionCost,MOB),
				   AmortizedCostEOP=Base+AcquisitionCost-dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,AcquisitionCost,MOB)
									-StartupFee+dbo.fnAmortize(case when ModelMonths<36 then ModelMonths else 36 end,StartupFee,MOB);

--set model months to 180 for Risk Stage = 3 (regardless of real remaining tenor)
update #result
set ModelMonths=180
where RiskStage=3;

-- calculate the annuity and effective interest rate as of reporting date
with tmp as (
select AccountNumber,EIR.Annuity,EIR.EIR
from #result
outer apply dbo.fnEIR(InterestRate,case when RiskStage=3 then 180 else 36 end, case when RiskStage=3 then 180 else RemainingTenor end,Base,AmortizedCostEOP) EIR)
--SELECT @Annuity=Annuity,@EIR=EIR from dbo.fnEIR(@APR,@ModelTenor,@ContractualTenor-@i,@ActualBalance,@newAcq)
update #result set EIR=tmp.EIR,
				   Annuity=tmp.Annuity,
				   EIRmth=(POWER((1 + tmp.EIR),(1.0/12))) - 1
				   
from #result join tmp on tmp.AccountNumber=#result.AccountNumber

--prepare the main loop
DECLARE @max int, @i int=1,@txt varchar(500)
select @max=MAX(ModelMonths) from #result;

--main loop: in each pass one month of data is populated basing on previous month data 
WHILE @i<=@max
	BEGIN
	set @txt='Starting pass no: '+cast(@i as varchar(4))
	RAISERROR( @txt,0,1) WITH NOWAIT;
	insert into #result
	select r.AccountNumber,
		   r.RiskStage,
		   r.RiskClass,
		   @i as Ord,
		   EOMONTH(dateadd(month,1,r.Date)) as Date,

		   -- outstanding balance: previous month base decreased by thim month contractual amortization 
		   r.Base-(case when r.Annuity-r.Base*r.InterestRate/12>r.Base then r.Base else r.Annuity-r.Base*r.InterestRate/12 end) as Base,

		   --contractual interest: monthly interest rate applied to previous month balance (base)
		   r.Base*r.InterestRate/12 as ContractualInterest, 

		   --contractual amortization: annuity amount decreased by contractual interest
		   case when r.Annuity-r.Base*r.InterestRate/12>r.Base then r.Base else r.Annuity-r.Base*r.InterestRate/12 end as ContractualAmort, 

		   -- interest income by EIR: amortized cost BOP (EOP from prev month) * monthyl EIR
		   r.AmortizedCostEOP*r.EIRmth as InterestIncomeByEIR, 

		   -- NPV cash flow (not populated for FF candidates): Annuity amount / (1+EIRmth)^@i+1
		   case when r.RiskStage=3 and r.AFS=1 then null else (r.Annuity)/POWER(1+(r.EIRmth),@i+1) end as CashFlowsNPV,

		   -- prev momths EOP becomes new months BOP
		   r.AmortizedCostEOP as AmortizedCostBOP,

		   --Amortized cost end of period: this month base (Base - contractual amort) + acquistion cost left - startup fee left 
		   r.Base-(r.Annuity-r.Base*r.InterestRate/12)+r.AcquisitionCostLeft-r.AcquisitionCostLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end-r.StartupFeeLeft+r.StartupFeeLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end,

		   r.EIR, 
		   r.EIRmth, 
		   r.Annuity,
		   r.StartupFee,
		   r.AcquisitionCost,

		   --Startup fee left: each month 1/36th of prev month left amount gets amortized
		   r.StartupFeeLeft-r.StartupFeeLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end as StartupFeeLeft,

		   --Acquisition cost left: each month 1/36th of prev month left amount gets amortized
		   r.AcquisitionCostLeft-r.AcquisitionCostLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end as AcquisitionCostLeft,-- 1/36th of remaining acq cost got amortized

		   --startup fee amortized: increased by amortized amount
		   r.StartupFeeAmort+r.StartupFeeLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end,

		   --Acquisition cost amortized: increased by amortized amount
		   r.AcquisitionCostAmort+r.AcquisitionCostLeft/case when r.ModelMonths-@i+1<36 then r.ModelMonths-@i+1 else 36 end,

		   r.OriginalTenor,
		   r.RemainingTenor-1,
		   r.DisbursedDate,
		   r.InterestRate,
		   r.ModelMonths,
		   r.AFS,
		   r.InvoicedNotPaid,
		   r.FundingCompany,
		   r.SurvivalRate,
		   r.LGD,

		   --EAD (exposure at default): amortized cost EOP + Invoiced not paid amount,
		   --for risk stage 1 and 2 it's delayed by 3 months, for FF candidates it's only in first month (data as if reporting date)
		   case when r.RiskStage in (1,2) and @i<=case when r.RiskStage=1 then 12 else 36 end 
					then r3.AmortizedCostEOP+r3.InvoicedNotPaid
				when r.RiskStage=3 and r.AFS=1 and @i=1 then r.AmortizedCostEOP+r.InvoicedNotPaid	
		   end as EAD,

		   --MPD (marginal PD, not calculated for FF candidates): 1 - survival rate in month 1, then 1-(1-prev month MPD)*survival rate
		   case when r.RiskStage=3 and r.AFS=1 and @i>1 then null
				when @i=1 then 1-r.SurvivalRate else 1-(1-r.MPD)*r.SurvivalRate 
		   end as MPD,

		   --LPD (lifetime PD) - same as MPD in month 1, then MPD-MPD from prev month
		   case when r.RiskStage=3 and r.AFS=1 and @i>1 then null
				when @i=1 then 1-r.SurvivalRate else 1-(1-r.MPD)*r.SurvivalRate-r.MPD 
		   end as LPD,
		   r.ECL, --placeholder, will be populated in next steps
		   r.ECLNPV, --placeholder, will be populated in next steps

		   --cash flows according to recovery curve (stage 3 only): 70% of annuity
		   case when r.AFS = 0 and r.RiskStage=3  then (1-r.LGD)*r.Annuity else null end as CashFlowRC,--0.7*r.Annuity else null end  as CashFlowsRC,

		   --NPV of cash flows according to recovery curve (stage 3 only): CashFlowsRC/(1+EIR mth)^i
		   case when r.AFS= 0 and r.RiskStage=3 then ((1-r.LGD)*r.Annuity)/POWER((1+r.EIRmth),@i) else null end  as CashFlowsNPVRC, --(0.7*r.Annuity)/POWER((1+r.EIRmth),@i) else null end
		   r.MOB+1 as MOB,
		   r.DefaultDate,
		   r.MonthsSinceDefault,
		   r.SpecialCase
	from #result r
	left join #result r3 on r.AccountNumber=r3.AccountNumber and r3.Ord=case when @i<=3 then 0 else @i-3 end
	where r.Ord=@i-1
	and @i<=r.ModelMonths;

	--calculate ECL
	update #result
		SET ECL=EAD*LPD*LGD
	where Ord=@i

	--calculate ECLNPV
	update #result
		SET ECLNPV=ECL/POWER(1+EIRmth,Ord)	
	where Ord=@i

	SET @i=@i+1 --increase the counter
	END;
	--end of main loop

	--Populate final month data
	with summ as (
	select AccountNumber,SUM(case when Ord=0 then Base else 0 end) as OrigAmount,SUM(case when Ord<Modelmonths then  ContractualAmort else 0 end) as AmortSum
	from #result
	group by AccountNumber
	)
	update #result set ContractualAmort=OrigAmount-AmortSum, Base=0
	from #result r join summ on r.AccountNumber=summ.AccountNumber and r.Ord=ModelMonths and RemainingTenor>0;

	update #result set CashFlowsNPV=(ContractualInterest+ContractualAmort)/POWER(1+(EIRmth),Ord),
				 --InterestIncomeByEIR=ContractualInterest+ContractualAmort-AmortizedCostBOP,
			      AmortizedCostEOP=0,
				  StartupFeeAmort=StartupFee,
				  StartupFeeLeft=0,
				  AcquisitionCostAmort=AcquisitionCost,
				  AcquisitionCostLeft=0
	where Ord=ModelMonths;
	
	
	--calculate ECL for stage 3
	update #result
		set ECL=Annuity - isnull(CashFlowsRC,0)+case when Ord=0 then isnull(InvoicedNotPaid,0)*LGD else 0 end ,
			ECLNPV=isnull(CashFlowsNPV,0) - isnull(CashFlowsNPVRC,0) +case when Ord=0 then isnull(InvoicedNotPaid,0)*LGD else 0 end
	where AFS=0 and RiskStage=3
	

--store data in the table
IF @Store=1
	BEGIN
	delete from nystart.AcquisitionCostNew where ReportDate=@ReportDate
	insert into nystart.AcquisitionCostNew

	select @ReportDate as ReportDate,
			AccountNumber,
			RiskStage,
			RiskClass,
			Ord,
			Date,
			Base,
			ContractualInterest,
			ContractualAmort,
			InterestIncomeByEIR,
			CashFlowsNPV,
			AmortizedCostBOP,
			AmortizedCostEOP,
			EIR,
			EIRmth,
			Annuity,
			StartupFee,
			AcquisitionCost,
			StartupFeeLeft,
			AcquisitionCostLeft,
			StartupFeeAmort,
			AcquisitionCostAmort,
			OriginalTenor,
			RemainingTenor,
			DisbursedDate,
			InterestRate,
			ModelMonths,
			AFS,
			InvoicedNotPaid,
			FundingCompany,
			SurvivalRate,
			LGD,
			EAD,
			MPD,
			LPD,
			ECL,
			ECLNPV,
			CashFlowsRC,
			CashFlowsNPVRC,
			MOB,
			case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
			SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM,
			DefaultDate,
			MonthsSinceDefault,
			null as POCI,
			SpecialCase
	   
	from #result 
	END;

--get result tables

	-- main table with all accounts as of reporting date
	with res as (
		select @ReportDate as ReportDate,
	   *,
	   case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
	   SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM 
	from #result )
	select  ReportDate,
			AccountNumber,
			RiskStage,
			RiskClass,
			Ord,
			Date,
			Base,
			ContractualInterest,
			ContractualAmort,
			InterestIncomeByEIR,
			CashFlowsNPV,
			AmortizedCostBOP,
			AmortizedCostEOP,
			EIR,
			EIRmth,
			Annuity,
			StartupFee,
			cast(AcquisitionCost as decimal(12,2))  as AcquisitionCost,
			StartupFeeLeft,
			cast(AcquisitionCostLeft as decimal(12,2)) as AcquistionCostLeft,
			StartupFeeAmort,
			AcquisitionCostAmort,
			OriginalTenor,
			RemainingTenor,
			DisbursedDate,
			InterestRate,
			ModelMonths,	
			AFS,
			InvoicedNotPaid,
			FundingCompany,
			MOB,
			EPB_FLAG,
			ECLNPV_SUM
	from res
	where Date=@ReportDate and ReportDate=@ReportDate;

	-- summaries for risk stages 1 and 2
		with res as (
		select @ReportDate as ReportDate,
	   *,
	   case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
	   SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM 
	from #result )
	select Date,Sum(Base) as Base,sum(ContractualInterest) as ContractualInterest,
		   sum(ContractualAmort) as ContractualAmort,
		   sum(InterestIncomeByEIR) as InterestIncomeByEIR,
		   sum(CashFlowsNPV) as CashFLowsNPV,
		   sum(AmortizedCostBOP) as AmortizedCostBOP,
		   sum(AmortizedCostEOP) as AmortizedCostEOP,
		   cast(sum(AcquisitionCost) as decimal(12,2)) as AcquisitionCost,
		   sum(StartupFee) as StartupFee,
		   cast(SUM(AcquisitionCostAmort) as decimal(12,2)) as AcqCostAmort,
		   cast(SUM(AcquisitionCostLeft) as decimal(12,2)) as AcqCostUnamortized,
		   SUM(StartupFeeAmort) as StartupFeeAmort,
		   SUM(StartupFeeLeft) as StartupFeeUnamortized

	from res
	where RiskStage<3 and ReportDate=@ReportDate
	group by Date
	order by Date;

	--summary for risk stage 3
	with res as (
		select @ReportDate as ReportDate,
	   *,
	   case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
	   SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM 
	from #result )
	select Date,Sum(Base) as Base,sum(ContractualInterest) as ContractualInterest,
		   sum(ContractualAmort) as ContractualAmort,
		   sum(InterestIncomeByEIR) as InterestIncomeByEIR,
		   sum(CashFlowsNPV) as CashFLowsNPV,
		   sum(AmortizedCostBOP) as AmortizedCostBOP,
		   sum(AmortizedCostEOP) as AmortizedCostEOP,
		   cast(sum(AcquisitionCost) as decimal(12,2)) as AcquisitionCost,
		   sum(StartupFee) as StartupFee,
		   cast(SUM(AcquisitionCostAmort) as decimal(12,2)) as AcqCostAmort,
		   cast(SUM(AcquisitionCostLeft) as decimal(12,2)) as AcqCostUnamortized,
		   SUM(StartupFeeAmort) as StartupFeeAmort,
		   SUM(StartupFeeLeft) as StartupFeeUnamortized
	from res
	where RiskStage=3 and ReportDate=@ReportDate
	group by Date
	order by Date;


	--ECL  summary for stages 1, 2 and 3 (only Forward Flow candidates)
	with res as (
		select @ReportDate as ReportDate,
	   *,
	   case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
	   SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM 
	from #result )
	select RiskStage,Date,Sum(Base) as Base,sum(ContractualInterest) as ContractualInterest,
		   sum(ContractualAmort) as ContractualAmort,
		   sum(InterestIncomeByEIR) as InterestIncomeByEIR,
		   sum(CashFlowsNPV) as CashFLowsNPV,
		   sum(AmortizedCostBOP) as AmortizedCostBOP,
		   sum(AmortizedCostEOP) as AmortizedCostEOP,
		   sum(EAD) as EAD,
		   avg(MPD) as MPD,
		   avg(LPD) as LPD,
		   sum(ECL) as ECL,
		   sum(ECLNPV) as ECLNPV
	from res
	where  (RiskStage<3 or RiskStage=3 and AFS=1 ) and ReportDate=@ReportDate
	group by RiskStage,Date
	order by RiskStage,Date;

	--ECL summary for risk stage 3 (excl. FF candidates)
	with res as (
		select @ReportDate as ReportDate,
	   *,
	   case when FundingCompany='Erik Penser Bank AB' then 1 else 0 end as EPB_FLAG,
	   SUM(ECLNPV) over (partition by AccountNumber) as ECLNPV_SUM 
	from #result )
	select RiskStage,Date,Sum(Base) as Base,sum(ContractualInterest) as ContractualInterest,
		   sum(ContractualAmort) as ContractualAmort,
		   sum(InterestIncomeByEIR) as InterestIncomeByEIR,
		   sum(CashFlowsNPV) as CashFLowsNPV,
		   sum(CashFlowsRC) as CashFLowsRC,
		   sum(CashFlowsNPVRC) as CashFLowsNPVRC,
		   sum(AmortizedCostBOP) as AmortizedCostBOP,
		   sum(AmortizedCostEOP) as AmortizedCostEOP,
		   sum(InvoicedNotPaid) as InvoicedNotPaid
	from res
	where (RiskStage=3 and AFS=0) and ReportDate=@ReportDate
	
	group by RiskStage,Date
	order by RiskStage,Date;
	
		
-- full list of accounts
with cld as (
	select LP.AccountNumber,MIN(SnapshotDate) as CloseDate
	from nystart.LoanPortfolio LP
	where LP.IsOpen=0
	group by LP.AccountNumber
	)
	select b.AccountNumber,
		   b.Amount as DisbursedAmount,
		   b.DisbursedDate,
		   b.ReportingBalance as RemainingBalance,
		   ISNULL(cld.CloseDate,DATEADD(MONTH,res.RemainingTenor,@ReportDate)) AS FinalPaymentDate,
		   cast(b.AcquisitionCost as decimal(12,2)) as AcquisitionCost,
		   cast(isnull(res.AcquisitionCostLeft,0) as decimal(12,2)) as RemainingAcquisitionCost,
		   b.StartupFee,
		   isnull(res.StartupFeeLeft,0) as RemainingStartupFee,
		   case when res.AccountNumber is not null then 1 else 0 end as IsOpen,
		   res.InvoicedNotPaid
	 
	from #base1 b left join #result res on b.AccountNumber=res.AccountNumber and b.DisbursedDate=res.DisbursedDate and res.Ord=0
	left join cld on cld.AccountNumber=b.AccountNumber
	
	order by case when res.AccountNumber is not null then 1 else 0 end
	
	-- list of accounts with acquistion cost
	select AccountNUmber,DisbursedDate,Amount,StartupFee,cast(AcquisitionCost as decimal(12,2)) as AcquisitionCost,SalesChannel,BrokerName
	from #base1
	where Year(DisbursedDate)>=YEAR(@ReportDate)

	--acquisition cost summary
	select YEAR(DisbursedDate)*100+MONTH(DisbursedDate) as YearMonth,SalesChannel,BrokerName,SUM(Amount) AS Amount,SUM(StartupFee) as StartupFee,SUM(AcquisitionCost) as AcquisitionCost
	from #base1
	where Year(DisbursedDate)>=YEAR(@ReportDate)
	group by YEAR(DisbursedDate)*100+MONTH(DisbursedDate),SalesChannel,BrokerName 

